<div class="quest__photo-wrapper">
    {{#if imgSrc}}
        <a href="/quests/{{id}}"><img src="{{imgSrc}}" alt="Заставка квеста" class="quest__photo"></a>
    {{else}}
        <img src="//awesomequests-nikitc.surge.sh/cube.jpg" alt="Заставка квеста" class="quest__photo">
    {{/if}}
</div>
