<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Создание квеста</title>
</head>
<body>
    <h1>Создать новый квест</h1>
    <input
        name="name"
        placeholder="Название квеста"
        required
        pattern="[A-Za-z]+">
    <textarea name="description"></textarea>
    <input type="submit" value="Создать">
</body>
</html>
