<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta chraset="utf-8">
		<title>Квест</title>
	</head>
	<body>
        {{#quest}}
            <h1>Квест &laquo{{name}}&raquo</h1>
            <p>{{description}}</p>
        {{/quest}}
	</body>
</html>
