{{#extend "layout"}}
    {{#content "head"}}
        <title>Квест</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/getQuest.bundle.css">
    {{/content}}
    {{#content "body"}}
        <h1>Квест &laquo{{name}}&raquo</h1>
        <p>{{description}}</p>
        <h3>Комментарии к квесту</h3>
        {{#questComments}}
            {{> comment}}
        {{/questComments}}
    {{/content}}
{{/extend}}
