{{#extend "layout"}}
    {{#content "head"}}
        <title>Квест</title>
    {{/content}}
    {{#content "body"}}
        <h1>Квест &laquo{{name}}&raquo</h1>
        <p>{{description}}</p>
        <h3>Комментарии к квесту</h3>
        <ul>
            {{#questComments}}
                <li>{{title}}</li>
            {{/questComments}}
        </ul>
    {{/content}}
{{/extend}}
