{{#extend "layout"}}
    {{#content "head"}}
        <title>Изменение квеста</title>
    {{/content}}
    {{#content "body"}}
        <h1>Измененить квест</h1>
        <form method="post" action="/quests/{{quest.id}}/edit">
            <input
                name="name"
                value="{{quest.name}}"
                placeholder="Название квеста"
                required
                pattern="[A-Za-zА-Яа-я ]+">
            <textarea name="description">{{quest.description}}</textarea>
            <input type="submit" value="Изменить">
        </form>
    {{/content}}
{{/extend}}
