.error
    padding 3%

    &__message
    &__description
        color #fff
        margin 10px

        & a
            text-decoration none
            transition color .3s
            color #fff

            &:hover
                color #d3d3d3
