.login
    margin 20px
    &__pic
        display inline-block
    &__register
        display inline-block
        color #fff
        text-decoration: none
    &__logout
        color #fff
        font-weight bold
        text-decoration none
        transition color .3s
        &:hover
            color #d3d3d3
    &__greeting
        color #fff
        margin 0 0 10px 0
        &__username
            color #fff
            text-decoration none
            font-weight bold
            transition color .3s
            &:hover
                color #d3d3d3
