.login
    margin 20px
    display flex
    align-items center

    &__pic
    &__avatar
        max-width 70px
        max-height 70px
        margin-right 15px
        border-radius 40px

    &__register
        display inline-block
        color #fff

    &__register a
        color #fff
        text-decoration: none
        transition color .3s
        &:hover
            color #d3d3d3

.login-controls
    display inline-block

    &__logout
        color #fff
        font-weight bold
        text-decoration none
        transition color .3s
        &:hover
            color #d3d3d3

    &__greeting
        color #fff
        margin 0 0 10px 0
        & a
            color #fff
            text-decoration none
            font-weight bold
            transition color .3s
            &:hover
                color #d3d3d3
