@font-face
    font-family 'Open Sans'
    font-style normal
    src url(//awesomequests.surge.sh/fonts/OpenSans-Regular.ttf)

login
    &__pic
        display inline-block
    &__register
        display inline-block
        font-family 'Open Sans'
        &__white
            color #fff
