@import "//awesomequests.surge.sh/header.bundle.css"
@import "//awesomequests.surge.sh/logo.bundle.css"
@import "//awesomequests.surge.sh/menu.bundle.css"
@import "//awesomequests.surge.sh/login.bundle.css"
@import "//awesomequests-dima.surge.sh/questsSet.bundle.css"
@import "//awesomequests-dima.surge.sh/quest.bundle.css"
@import "//awesomequests-dima.surge.sh/questBarNew.bundle.css"
@import "//awesomequests-dima.surge.sh/questName.bundle.css"
@import "//awesomequests-dima.surge.sh/questPhoto.bundle.css"
@import "//awesomequests-dima.surge.sh/questStats.bundle.css"
@import "//awesomequests-dima.surge.sh/search.bundle.css"
@import "//awesomequests-dima.surge.sh/searchInput.bundle.css"
@import "//awesomequests-dima.surge.sh/searchIconLoupe.bundle.css"
@import "//awesomequests-dima.surge.sh/sort.bundle.css"
@import "//awesomequests-dima.surge.sh/sortBar.bundle.css"
@import "//awesomequests-dima.surge.sh/sortBarIconTriangle.bundle.css"
@import "//awesomequests-dima.surge.sh/sortBarSortChoice.bundle.css"
@import "//awesomequests-dima.surge.sh/sortList.bundle.css"
@import "//awesomequests-dima.surge.sh/sortListOption.bundle.css"
@import "//awesomequests-dima.surge.sh/sortAndSearch.bundle.css"

body
    background-color #371440
