@media (max-width: 550px)
    .quests-set .quest
        display block
        margin 10px auto
        width 70%

@media (max-width: 550px)
    .sortAndSearch .search
        width 250px
        .search__icon-loupe
            width 50px

@media (max-width: 550px)
    .sortAndSearch
        flex-direction column
        .sort
            position relative
            margin 20px auto 0px
            width 220px
            right 0
