@import "//awesomequests.surge.sh/questBarNew.bundle.css"
@import "//awesomequests.surge.sh/questName.bundle.css"
@import "//awesomequests.surge.sh/questPhoto.bundle.css"
@import "//awesomequests.surge.sh/questStats.bundle.css"

.quest
    display inline-block
    width 27%
    border 10px solid white
    margin 1%
    position relative
    border-radius 7px
    background-color white
