@import "//awesomequests-dima.surge.sh/searchInput.bundle.css"
@import "//awesomequests-dima.surge.sh/searchIconLoupe.bundle.css"

.search
    width 30%
    display flex
    border 1px solid black
    border-radius 5px
    font-size 30px
    margin auto
    background-color white

