@import "//awesomequests.surge.sh/likes.bundle.css"
@import "//awesomequests.surge.sh/finished.bundle.css"
@import "//awesomequests.surge.sh/questInfo.bundle.css"
@import "//awesomequests.surge.sh/getQuest.bundle.css"

body
    background url("http://awesomequests-nikitc.surge.sh/bg-quest.png") no-repeat
    background-size cover
    background-attachment fixed
.quest
    display flex
