{{#extend "layout"}}
    {{#content "head"}}
        <title>Квест</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/getQuest.bundle.css">
        <script type="text/javascript" src="//awesomequests-kol9nus.surge.sh/getQuest.bundle.js"></script>
    {{/content}}
    {{#content "body"}}
        {{> quest-info}}
    {{/content}}
{{/extend}}
