{{#extend "layout"}}
    {{#content "head"}}
        <title>Квест</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/getQuest.bundle.css">
    {{/content}}
    {{#content "body"}}
        {{> quest-info}}
    {{/content}}
{{/extend}}
