{{#extend "layout"}}
    {{#content "head"}}
        <title>Квест</title>
        <link rel="stylesheet" href="//awesomequests-nikitc.surge.sh/likes.bundle.css">
        <link rel="stylesheet" href="//awesomequests-nikitc.surge.sh/finished.bundle.css">
        <link rel="stylesheet" href="//awesomequests-nikitc.surge.sh/questInfo.bundle.css">
        <link rel="stylesheet" href="//awesomequests-nikitc.surge.sh/getQuest.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/header.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/logo.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/menu.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/login.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/footer.bundle.css">
    {{/content}}
    {{#content "body"}}
        {{> header}}
        {{> quest-info}}
    {{/content}}
{{/extend}}
