@font-face
    font-family 'OpenSans'
    font-style normal
    src url(//awesomequests.surge.sh/fonts/OpenSans-Regular.ttf)

.header
    font-family 'OpenSans'
    display flex
    align-items center
    background-color #000
