@import "//awesomequests.surge.sh/logo.bundle.css"
@import "//awesomequests.surge.sh/menu.bundle.css"
@import "//awesomequests.surge.sh/login.bundle.css"
@import "//awesomequests.surge.sh/mainContent.bundle.css"

.header
    display flex
    align-items center
    justify-content space-around
    background-color #000
    padding 0 10px

@media screen and (max-width: 991px)
    .header
        flex-direction column
        padding 20px
