<div class="advantages">
    <div class="advantages__start-year">
        <img alt="Start year" title="Start year" src="//awesomequests.surge.sh/icon-benefit-1.png">
        <h4>С 2017 года</h4>
        <p>Поль&shy;зо&shy;ва&shy;те&shy;ли участ&shy;ву&shy;ют в фо&shy;то&shy;кве&shy;стах</p>
    </div>
    <div class="advantages__gamers-count">
        <img alt="Gamers count" title="Gamers count" src="//awesomequests.surge.sh/icon-benefit-2.png">
        <h4>{{gamersCount}} игроков</h4>
        <p>за&shy;ре&shy;ги&shy;стри&shy;ро&shy;ва&shy;лись и при&shy;ня&shy;ли уча&shy;стие в кве&shy;стах</p>
    </div>
    <div class="advantages__quests-count">
        <img alt="Quests count" title="Quests count" src="//awesomequests.surge.sh/icon-benefit-3.png">
        <h4>{{questsCount}} квестов</h4>
        <p>бы&shy;ло со&shy;зда&shy;но поль&shy;зо&shy;ва&shy;те&shy;ля&shy;ми для дру&shy;гих иг&shy;ро&shy;ков</p>
    </div>
</div>
