<div class="advantages">
    <div class="advantages__start-year">
        <img alt="Start year" title="Start year" src="//awesomequests.surge.sh/icon-benefit-1.png">
        <h4>С 2017 года</h4>
        <p>Пользователи участвуют в фотоквестах</p>
    </div>
    <div class="advantages__gamers-count">
        <img alt="Gamers count" title="Gamers count" src="//awesomequests.surge.sh/icon-benefit-2.png">
        <h4>{{gamersCount}} игроков</h4>
        <p>зарегистрировались и приняли участие в квестах</p>
    </div>
    <div class="advantages__quests-count">
        <img alt="Quests count" title="Quests count" src="//awesomequests.surge.sh/icon-benefit-3.png">
        <h4>{{questsCount}} квестов</h4>
        <p>было создано пользователями для других игроков</p>
    </div>
</div>
