{{#extend "layout"}}
    {{#content "head"}}
        <title>Не авторизован</title>
    {{/content}}
    {{#content "body"}}
        <h2>Только авторизованные пользователи могут создавать комментарии</h2>
        <p><a href="/login">Войдите</a>, чтобы создать комментарий</p>
    {{/content}}
{{/extend}}
