{{#extend "layout"}}
    {{#content "head"}}
        <title>Редактировать комментарий</title>
    {{/content}}
    {{#content "body"}}
        <h1>Редактирование комментария</h1>
    {{/content}}
{{/extend}}
