{{#extend "layout"}}
    {{#content "head"}}
        <title>Забыл парольчик</title>
        <link rel="stylesheet" href="//awesomequests-nikitc.surge.sh/forgotPassword.bundle.css">
    {{/content}}
    {{#content "body"}}
        <section class="container">
            <h1 class="header-name">Восстановление пароля</h1>
            <span>{{errorMessage}}</span>
            <form class="form" action="/requestToken" method="POST">
                    <input class="form__input" type="text" name="email" placeholder="Email">
                    <input class="form__submit-button" type="submit" value="Отправить письмо">
            </form>
        </section>
    {{/content}}
{{/extend}}
