.search__input-form
    width 100%
    padding 5px
    display flex
    .search__input
        width 85%
        border none
        font-size 25px
        padding 5px 0
    .search__icon-loupe
        width 10%
        text-align center
        cursor pointer
        margin-left 1%

#submit
    display none
