{{#extend "layout"}}
    {{#content "head"}}
        <title>Статистика</title>
    {{/content}}
    {{#content "body"}}
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Всего</th>
                <th>Сегодня</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Визиты</td>
                <td>{{visits}}</td>
                <td>{{visitsToday}}</td>
            </tr>
            <tr>
                <td>Просмотры</td>
                <td>{{reviews}}</td>
                <td>{{reviewsToday}}</td>
            </tr>
            </tbody>
        </table>
    {{/content}}
{{/extend}}
