<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Статистика</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Всего</th>
                <th>Сегодня</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Визиты</td>
                <td>{{visits}}</td>
                <td>{{visitsToday}}</td>
            </tr>
            <tr>
                <td>Просмотры</td>
                <td>{{reviews}}</td>
                <td>{{reviewsToday}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
