.statistics-table
    color #fff
    font-size 30px
    margin 30px

.statistics-table td
.statistics-table th
    color #fff
    border-color: #fff
    padding 8px
    min-width 50px

.statistics-table tr
    border 2px solid #000
