@import "//awesomequests.surge.sh/header.bundle.css"
@import "//awesomequests.surge.sh/footer.bundle.css"

.forbidden
    background url(http://awesomequests-nikitc.surge.sh/bg-quest.png) no-repeat
    background-size cover
    background-attachment fixed
    &__message
        color #fff
        margin 0
        padding 10% 0 25% 10%
