{{#extend "layout"}}
    {{#content "head"}}
        <title>Недостаточно прав</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/header.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/logo.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/menu.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/login.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/footer.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/forbidden.bundle.css">
    {{/content}}
    {{#content "body"}}
        {{> header}}
        <div class="forbidden">
            <h2 class="forbidden__message">Недостаточно прав</h2>
        </div>
        {{> footer}}
    {{/content}}
{{/extend}}
