{{#extend "layout"}}
    {{#content "head"}}
        <title>Недостаточно прав</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/forbidden.bundle.css">
    {{/content}}
    {{#content "body"}}
        <div class="forbidden">
            <h2 class="forbidden__message">Недостаточно прав</h2>
        </div>
    {{/content}}
{{/extend}}
