<div class="steps-wrapper">
    <h2 class="steps-wrapper__header">Этапы прохождения квеста</h2>
    <div class="steps">
        <div class="steps__register">
            <img alt="Register" title="Register" src="//awesomequests.surge.sh/step1.png" width="70" height="70">
            <p>1. Зарегистрироваться на нашем сервисе</p>
        </div>
        <div class="steps__select-quest">
            <img alt="Select quest" title="Select quest" src="//awesomequests.surge.sh/step2.png" width="96.22" height="70">
            <p>2. Выбрать понравившийся квест из списка доступных квестов</p>
        </div>
        <div class="steps__start-quest">
            <img alt="Start quest" title="Start quest" src="//awesomequests.surge.sh/step3.png" width="70" height="70">
            <p>3. Стартовать квест</p>
        </div>
    </div>
    <div class="steps">
        <div class="steps__complete-quest">
            <img alt="Complete quest" title="Complete quest" src="//awesomequests.surge.sh/step4.png" width="70" height="70">
            <p>4. Пройти полностью для завершения</p>
        </div>
        <div class="steps__profit">
            <img alt="Profit" title="Profit" src="//awesomequests.surge.sh/step5.png" width="72.5" height="70">
            <p>5. Profit!</p>
        </div>
    </div>
</div>
