<div class="quest-info">
    <h1>{{name}}</h1>
    <img class="quest-info__pic" src="//awesomequests-nikitc.surge.sh/cube.jpg">
    <div class="quest-info__users-evaluate">
        {{>likes}}
        {{>finished}}
    </div>
    <p class="quest-info__descr">{{description}}</p>
    <h3>Комментарии к квесту</h3>
    <ul>
        {{#questComments}}
            <li>{{title}}</li>
        {{/questComments}}
    </ul>
</div>
