.quest-info
    display flex
    flex-direction column
    color #fff
    margin-left 20%
    &__users-evaluate
        width 400px
        display flex
        background-color black
        position relative
        top -45px
        opacity .8
    &__descr
        font-size 14px
    &__pic
        width 400px
        height 275px

