.quest-info
    min-width 800px
    color white
    font-family sans-serif

.name
    margin 2% auto
    width 80%
    font-size 400%
    text-align center

.info-block
    width 86%
    margin 2% auto

.avatar
    display inline-block
    height 300px

.stats
    display inline-block
    width 11%
    margin 15px
    vertical-align top
    font-size 250%

.description
    display inline-block
    margin-left 2%
    vertical-align top
    font-size 120%

.places
    margin: 2% auto
    width: 80%
    font-size: 200%
    text-align: center

.all-photos
    display flex
    width: 80%
    margin: auto

.photo-wrapper
    display: inline-block
    position relative

.photo
    box-sizing: border-box
    height: 200px
    margin: 0 10px
    border-radius: 20px
    cursor pointer

.pop-up-wrapper
    position fixed
    margin 0
    width 100%
    height 100%
    top 0
    left 0
    display flex
    align-items center
    justify-content center
    visibility hidden

.pop-up
    margin auto
    cursor pointer
    border-radius 20px
    border 1px solid black
    width 500px

.geo
.geo-error
    width 40%
    cursor pointer
    position absolute
    bottom 15px
    right 0

.geo-error
    animation shake 0.5s

@keyframes shake
{
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.excelent
    width 40%
    visibility hidden
    position absolute
    top 0
    left 0

.resolve-geo
    position fixed
    right 5px
    top 5px
    visibility hidden
    background-color #fff
    border-radius 10px
    width 40%
    padding 10px
    text-align center
    border 1px solid #000

.quest-comments
    width 100%
    display flex
    flex-direction column
    align-items center

.comments-label
    text-align center
