{{#extend "layout"}}
    {{#content "head"}}
        <title>Awesome Quests</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="//awesomequests.surge.sh/main.bundle.css">
    {{/content}}
    {{#content "body"}}
        {{> mainContent}}
        {{> advantages}}
        {{> steps}}
    {{/content}}
{{/extend}}
