{{#extend "layout"}}
    {{#content "head"}}
        <title>Awesome Quests</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/main.bundle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{/content}}
    {{#content "body"}}
        {{> mainContent}}
        {{> advantages}}
        {{> steps}}
    {{/content}}
{{/extend}}
