{{#extend "layout"}}
    {{#content "head"}}
        <title>Awesome Quests</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/header.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/logo.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/menu.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/login.bundle.css">
        <script type="text/javascript" href="//awesomequests.surge.sh/header.bundle.js"></script>
        <script type="text/javascript" href="//awesomequests.surge.sh/logo.bundle.js"></script>
        <script type="text/javascript" href="//awesomequests.surge.sh/menu.bundle.js"></script>
        <script type="text/javascript" href="//awesomequests.surge.sh/login.bundle.js"></script>
    {{/content}}
    {{#content "body"}}
        {{> header}}
        <h1>Главная страница</h1>
        <p>Красивости всякие разные</p>
        <a href="/quests">Список квестов</a><br>
        <a href="/quests/createQuest">Создать квест</a><br>
        <a href="/quests/1">Посмотреть 1 квест</a><br>
        <a href="/quests/1/comment">Создать комментарий к 1 квесту</a><br>
        <a href="/quests/1/images">Добавить картинку к 1 квесту</a><br>
        <a href="/login">Логин</a><br>
        <a href="/registration">Регистрация</a><br>
        <a href="/users/1">Управление аккаунтом 1 пользователя</a><br>
        <a href="/databases">Просмотр списка баз данных</a><br>
    {{/content}}
{{/extend}}
