{{#extend "layout"}}
    {{#content "head"}}
        <title>Awesome Quests</title>
    {{/content}}
    {{#content "body"}}
        <h1>Главная страница</h1>
        <p>Красивости всякие разные</p>
    {{/content}}
{{/extend}}
