{{#extend "layout"}}
    {{#content "head"}}
        <title>Awesome Quests</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/header.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/logo.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/menu.bundle.css">
        <link rel="stylesheet" href="//awesomequests.surge.sh/login.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/questsSet.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/quest.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/quest__barNew.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/quest__name.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/quest__photo.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/quest__stats.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/search.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/search__input.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/search__iconLoupe.bundle.css">

        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/sort.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/sortBar.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/sortBar__iconTriangle.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/sortBar__sortChoice.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/sortList.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/sortList__option.bundle.css">
        <link rel="stylesheet" href="//awesomequests-dima.surge.sh/sortAndSearch.bundle.css">

        <script type="text/javascript" href="//awesomequests.surge.sh/header.bundle.js"></script>
        <script type="text/javascript" href="//awesomequests.surge.sh/logo.bundle.js"></script>
        <script type="text/javascript" href="//awesomequests.surge.sh/menu.bundle.js"></script>
        <script type="text/javascript" href="//awesomequests.surge.sh/login.bundle.js"></script>
    {{/content}}
    {{#content "body"}}
        <style type="text/css">
            body {
                    background-color: #371440;
                }
        </style>
        {{> header}}
        {{> sortAndSearch}}
        {{> quests-set}}
    {{/content}}
{{/extend}}
