.quest-comment
    position relative
    width 95%
    background-color #1b1932
    border-radius 15px
    overflow: hidden
    border: 2px solid #ddd
    margin 15px

    &__user
        background-color #000
        margin 0
        padding 12px 30px

    &__text
        text-align justify
        margin 20px
        min-height 50px

    &__update
        & img
            width 50px

    &__delete
        width 50px
        cursor pointer

.view-tools
    position absolute
    bottom 15px
    right 15px
