.service-name
    color: #000
    text-align: center
    &__description
        font-weight bold
    &__link
        color #000
        padding 10px
        text-decoration none
        background-color rgba(112, 0, 204, .9)
        transition background-color .5s
        border-radius 10px
        &:hover
            background-color rgba(142, 71, 204, .9)
