{{#extend "layout"}}
    {{#content "head"}}
        <title>Не существует</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/notExists.bundle.css">
    {{/content}}
    {{#content "body"}}
        <div class="not-exists">
            <h2 class="not-exists__message">Страница не существует</h2>
        </div>
    {{/content}}
{{/extend}}
