.likes
    display inline-flex
    justify-content space-between
    align-items center
    font-size 100%
    &__count
        font-size 70%
    &__image
        width 20%
        height 20%
        cursor pointer
