<div class="likes">
    <img id="like-image" class="likes__image" src="//awesomequests-nikitc.surge.sh/like.png" onclick="likeQuest({{questId}})">
    <span id="likes-count" class="likes__count">0</span>
</div>
<script type="text/javascript" src=""></script>
