@import "//awesomequests-dima.surge.sh/sortBar.bundle.css"
@import "//awesomequests-dima.surge.sh/sortList.bundle.css"

.sort
    position absolute
    right 5%
    width 15%
    background-color #80508c
    border 1px solid black
    font-size 20px
    border-radius 7px
    z-index 2
