{{#extend "layout"}}
    {{#content "head"}}
        <title>Забыл парольчик</title>
    {{/content}}
    {{#content "body"}}
        <h1>Забыл парольчик</h1>
        <span>{{errorMessage}}</span>
        <form action="/requestToken" method="POST">
            <div>
                <input type="text" name="email" placeholder="Email">
            </div>
            <div>
                <input type="submit" value="Отправить письмо">
            </div>
        </form>
    {{/content}}
{{/extend}}
