{{#extend "layout"}}
    {{#content "head"}}
        <title>Не авторизован</title>
    {{/content}}
    {{#content "body"}}
        <p><a href="/login">Войдите</a>, чтобы посмотреть список ваших квестов</p>
    {{/content}}
{{/extend}}
