{{#extend "layout"}}
    {{#content "head"}}
        <title>Регистрация</title>
    {{/content}}
    <span>{{errorMessage}}</span>
    {{#content "body"}}
        <h1>Страничка с регистрацией</h1>
        <form action="/registration" method="POST">
            <div>
                <input type="text" name="username" placeholder="Логин">
            </div>
            <div>
                <input type="text" name="password" placeholder="Пароль">
            </div>
            <div>
                <input type="submit" value="Зарегистрироваться">
            </div>
        </form>
    {{/content}}
{{/extend}}
