{{#extend "layout"}}
    {{#content "head"}}
        <title>Вход</title>
    {{/content}}
    {{#content "body"}}
        <form action="/login" method="POST">
            <h2>Введите ваши данные</h2>
            <div>
                <input type="text" name="login" placeholder="Логин">
            </div>
            <div>
                <input type="text" name="password" placeholder="Пароль">
            </div>
            <div>
                <input type="submit" value="Войти">
            </div>
        </form>
    {{/content}}
{{/extend}}
