{{#extend "layout"}}
    {{#content "head"}}
        <title>Вход</title>
    {{/content}}
    {{#content "body"}}
        <form action="/login" method="POST">
            <h2>Введите ваши данные</h2>
            <input type="text" name="login" placeholder="Логин">
            <input type="text" name="password" formenctype="application/x-www-form-urlencoded" placeholder="Пароль">
            <input type="submit">
        </form>
    {{/content}}
{{/extend}}
