.comment-update-header
    color #fff
    margin-left 25px

.quest-comment
    width 100%
    display flex
    flex-direction column
    align-items center

    &__user input
        width 100%
        paffing 5px

    &__text textarea
        width 100%
        height 100px

