{{#extend "layout"}}
    {{#content "head"}}
        <title>О нас</title>
        <link rel="stylesheet" href="//awesomequests.surge.sh/about.bundle.css">
    {{/content}}
    {{#content "body"}}
        <div class="about">
            <h1 class="about__name">Awesome Quests</h1>
            <img alt="photoquests" title="photoquests" class="about__description__picture" src="//awesomequests.surge.sh/photos-sky.jpg" width="304" height="229">
            <p class="about__description">
                Сервис предоставляет возможность пользователям создавать и проходить фотоквесты.
                У нас только самые необычные и увлекательные квесты! Приглашаем вас заглянуть в мир приключений
                и весёлых игр. Awesome Quests - это лучшая возможность провести время с друзьями
                и получить незабываемые впечатления.
            </p>
            <p class="about__description">Тебе скучно и одиноко? Awesome Quests - твой выбор, чтобы поднять себе настроение!</p>
            <h2 class="about__slogan"><strong>Awesome</strong> - значит будет круто</h2>
        </div>
    {{/content}}
{{/extend}}
