.about
    &__name
        margin-left 20px
        color #fff

    &__slogan
        color #fff

    &__description
        color #fff
        text-align justify
        margin-right 20px
        &__picture
            float left
            margin 0 20px
            width 300px
            border 2px solid #000

    &__slogan
        font-size 50px
        text-align: center
