@import "//awesomequests.surge.sh/sortBarIconTriangle.bundle.css"
@import "//awesomequests.surge.sh/sortBarSortChoice.bundle.css"

.sort-bar
    height 30px
    border-bottom 1px solid black
    text-align center
