<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//awesomequests.surge.sh/layout.bundle.css">
    {{#block "head"}}
    {{/block}}
</head>
<body>
    {{#block "body"}}
    {{/block}}
</body>
</html>
