@import "//awesomequests.surge.sh/header.bundle.css"
@import "//awesomequests.surge.sh/footer.bundle.css"

@font-face
    font-family 'OpenSans'
    font-style normal
    src url(../fonts/OpenSans-Regular.woff2)

body
    font-family 'OpenSans'
    font-size 14pt
    margin 0
