<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//awesomequests.surge.sh/siteInfrastructure.bundle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#block "head"}}
    {{/block}}
</head>
<body>
    {{> header}}
    <div class="layout-body">
        {{#block "body"}}
        {{/block}}
    </div>
    {{> footer}}
</body>
</html>
