@font-face
    font-family 'OpenSans'
    font-style normal
    src url(../fonts/OpenSans-Regular.woff2)

html
body
    height 100%

body
    font-family 'OpenSans'
    font-size 14pt
    margin 0

.layout-body
    min-height 80%
    width 100%
    padding 10px 0
    background url(http://awesomequests-nikitc.surge.sh/bg-quest.png) no-repeat
    background-size cover
    background-attachment fixed
