@font-face
    font-family 'Open Sans'
    font-style normal
    src url(//awesomequests.surge.sh/fonts/OpenSans-Regular.ttf)

menu
    display flex
    align-items center
    &__item
        font-family 'Open Sans'
        &__white
              color #fff
