.finished
    display flex
    justify-content space-between
    align-items center
    font-size 100%
    width 15%

    &__count
        font-size 70%
        margin-left 2%

@media screen and (max-width: 768px)
    .finished__count
        font-size 70%
        margin-left 1%
