{{#extend "layout"}}
    {{#content "head"}}
        <title>Вход</title>
        <link rel="stylesheet" href="//awesomequests-nikitc.surge.sh/signIn.bundle.css">
    {{/content}}
    {{#content "body"}}
        <section class="container">
            <h1 class="header-name">Вход</h1>
            <form class="form" action="/login" method="POST">
                <span class="form__error-message">{{errorMessage}}</span>
                <input class="form__input" required type="text" name="username" placeholder="Логин">
                <input class="form__input" required type="password" name="password" placeholder="Пароль">
                <input class="form__submit-button" type="submit" value="Войти">
                <a class="restore-password" href='/forgotPassword'>Восстановить пароль</a>
            </form>
        </section>
    {{/content}}
{{/extend}}
