{{#extend "layout"}}
    {{#content "head"}}
        <title>Создание изображения</title>
    {{/content}}
    {{#content "body"}}
        <h1>Создание изображения</h1>
        <form enctype="multipart/form-data" method="post" action="/quests/{{questId}}/images">
            <p>
                <input type="file" name="image">
                <input type="submit" value="Отправить">
            </p>
        </form>
    {{/content}}
{{/extend}}
